{
    "root": true,
    "plugins": [],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "arrow-body-style": [
            "error",
            "as-needed"
        ]
    },
    "overrides": [],
    "settings": {}
}
